<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage" uri="datacollector://microsoft/CodeCoverage/1.0">
        <Configuration>
          <Format>cobertura</Format>
          <Include>
            <ModulePath>.*DotNetApp.*</ModulePath>
          </Include>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
