GITHUB_TOKEN=your_github_token
RUNNER_NAME=your_runner_name
RUNNER_WORKDIR=/home/github-runner
RUNNER_LABELS=your_runner_labels
RUNNER_REPOSITORY=your_repository_name
RUNNER_TOKEN=your_runner_registration_token
RUNNER_IMAGE=your_runner_image_name
RUNNER_ENVIRONMENT=your_environment_name